.assets
.idea
.vscode

venv/*
*.pyc
__pycache__
*.py[cod]
*$py.class
build/
__tmp/*
gradio/templates/cdn
gradio/templates/frontend
*.env
gradio/launches.json
flagged/
gradio_cached_examples/
tmp.zip
*.coverage
coverage.xml
test.txt
**/snapshots/**/*.png
playwright-report/
demo/tmp.zip
demo/files/*.avi
demo/files/*.mp4
demo/all_demos/demos/*
demo/all_demos/requirements.txt
demo/*/config.json
